body{
    font-size: large;
    background-color: white;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(241, 240, 240);
    border-radius: 14px;
    color: rgb(0, 0, 0);
    padding: 15px;
    max-width: 400px;
    margin: 0px auto;
}

.card{
    display: flex;
    flex-direction: column;
    color: rgb(1, 1, 1);
    background-color: rgb(241, 241, 241);
    border-radius: 14px;
    padding: 15px;
    max-width: 400px;
    margin: 10px auto;
}
.summary-card {
    
    display: flex;
    flex-direction: column;
    color: chartreuse;
    flex-direction: column;
    margin-top: 20px;
    padding: 15px;
    background-color: rgb(27, 26, 26);
    border: none;
    width: 400px;
    margin: 10px auto;
    border-radius: 14px;
    padding: 15px;
}

.weekCard{
    display: flex;
    justify-content: space-between;
}

.linejobs{
    display: flex;
    justify-content: space-between;
}
.jobNumberCard{
    font-size: x-large;
    color: crimson;
}

.divEntry{
    display: flex;
    font-size: small;
    justify-content: space-between;
}

#saveBtn{
    width: 100%;
    height: 40px;
    margin-top: 10px;
    font-size: x-large;
    border-radius: 7px;
    border: none;
    background-color: rgb(178, 247, 146);
    color: black;
}
.inputFields{
    width: 150px;
}

.entries{
    display: flex;
    justify-content: space-between;
    font-size: medium;
}

.tT{
    font-size: x-large;
    color: rgb(251, 111, 4);
}
input{
    width: 80px;
    line-height: 40px;
    font-size: larger;
    border-radius: 7px;
    border: none;
    margin-bottom: 10px;
    
  
}
